header {
    background: linear-gradient(to bottom, rgb(0, 5, 26), rgba(0, 5, 26, 0.793), rgba(0, 5, 26, 0.481), rgba(8, 0, 250, 0));
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
}

/* Contenedor principal */
main {
    flex: 1;
    margin-top: px;
    padding: px;
    background-color: #000118;
    position: relative;
    z-index: 1;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #000118;
}

/* Pie de página */
footer {
    background-color: var(--color-black);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 14px;
    position: relative;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 5, 26, 0.348), rgba(8, 0, 250, 0));
}

/* Estilos para el video a pantalla completa */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

main {
    position: relative;
    z-index: 1;
}

.section {
    position: relative;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
    padding: 40px 40px;
}

.section2 {
    position: relative;
    z-index: 2;
    padding: 10px 10px;
    background-color: #CAC9F1;
}

.section3 {
    margin-top: 30rem;
    min-height: 55vh;
    position: relative;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
    z-index: 3;
}

.text01 {
    display: flex;
    margin-top: -20em;
    flex-direction: column;
    justify-content: center;
    max-width: 33.33vw;
    word-wrap: break-word;
    letter-spacing: 0.1em;
}

.text02 {
    display: flex;
    margin-top: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    height: 33.33vh;
    width: 100%;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
}

.text04 {
    display: flex;
    margin-top: -5em;
    flex-direction: column;
    justify-content: center;
    max-width: 33.33vw;
    word-wrap: break-word;
    letter-spacing: 0.1em;
}

.fixed-image {
    width: 600px;
    height: auto;
    position: relative;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 0px;
}

.fixed-image-right {
    width: 700px;
    height: auto;
    position: relative;
    top: -50px;
    bottom: 50px;
    left: 50px;
    margin-right: 50px;
}

.fixed-image-right1 {
    width: 400px;
    height: auto;
    position: relative;
    top: -50px;
    bottom: 50px;
    left: 50px;
    margin-right: 250px;
}

.fixed-image-left {
    width: 600px;
    height: auto;
    position: relative;
    top: -50px;
    bottom: 50px;
    margin-left: 50px;
    right: 50px;
}

.section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.section-content {
    position: relative;
    margin-top: 6rem;
    z-index: 2;
    padding: 60px 60px;
    padding-left: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.item {
    background-color: rgba(8, 0, 250, 0);
    padding: 20px;
    text-align: center;
}

.video-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    font-size: 12px;
    text-align: left;
    z-index: 3;
    max-width: 33.33vw;
    word-wrap: break-word;
}

.video-text h1 {
    font-size: 3em;
    margin: 0;
}

.video-text p {
    font-size: 1.5em;
    margin: 20px 0;
}

.video-text button {
    padding: 10px 20px;
    font-size: 2em;
    background-color: #9D9BFB;
    color: white;
    border: 1rem;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.video-text button:hover {
    background-color: #6663ed;
}

/* Carousel */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.section01, .section02 {
    display: grid;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
}

.section01 {
    grid-template-columns: 1fr auto;
    padding-left: 100px;
}

.section02 {
    grid-template-columns: auto 1fr;
    padding-right: 100px;
    padding-left: 20px;
    background-color: #CAC9F1;
}

.section03 {
    z-index: 10;
    background-color: #DDDDDD;
}

.fixed-image1 {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 1em;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.text03 {
    display: flex;
    margin-top: 5em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 10;
}

/* Estilo del formulario de contacto */
.contact-form {
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 20px;
    color: white;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 60px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #9D9BFB;
    color: white;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #6663ed;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
}
