/* Estilo del encabezado */
header {
  background: linear-gradient(to bottom, rgb(0, 5, 26),rgba(0, 5, 26, 0.793), rgba(0, 5, 26, 0.481), rgba(8, 0, 250, 0));
  
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   width: 100%; /* Asegura que el encabezado ocupe todo el ancho */
  height: auto; /* Hace que la altura del encabezado se ajuste al contenido */
  position: fixed; /* Para evitar solapamientos con el contenido */
  z-index: 10; 
  
}


/* Contenedor principal */
main {
  flex: 1; /* Hace que el contenido principal empuje el footer hacia abajo */
  margin-top: px; /* Asegura que haya espacio debajo del encabezado */
  padding: px;
  background-color:#000118; /* Puedes ajustarlo si es necesario */
  position: relative;
  z-index: 1; /* Asegura que el contenido principal esté encima del video */
}


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color:#000118; /* Puedes ajustarlo si es necesario */
}

/* Pie de página */
footer {
  background-color: var(--color-black);
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  font-size: 14px;
  position: relative;
  z-index: 1; /* Asegura que el footer esté por encima de otros elementos */
  background: linear-gradient(to top, rgba(0, 5, 26, 0.348), rgba(8, 0, 250, 0));
}


/* Estilos para el video a pantalla completa */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Permite el scroll vertical */
}


main {
    position: relative;
    z-index: 1; /* Asegura que el contenido principal esté encima del video */
}

.section {
    position: relative;
    padding: 0; /* Elimina el padding para que el video ocupe toda la sección */
    min-height: 100vh; /* Asegura que cada sección ocupe al menos la altura de la ventana */
    overflow: hidden; /* Oculta cualquier desbordamiento */
    padding: 40px 40px;
}

.section2 {
  position: relative;
    z-index: 2; /* Asegura que el contenido de la sección esté encima del video */
    padding: 10px 10px; /* Añade espacio para que el contenido no esté pegado al borde */
  background-color: #CAC9F1;
}
.section3 {
  margin-top: 30rem;
  min-height: 55vh;
  position: relative;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  z-index: 3;
}


.text01{
  display: flex;
  margin-top: -20em;
  flex-direction: column; /* Coloca los elementos uno debajo del otro */
  justify-content: center; /* Alinea verticalmente el contenido */
  max-width: 33.33vw; /* Limita el ancho del texto a un tercio del ancho de la pantalla */
  word-wrap: break-word; /* Permite que las palabras se dividan y salten a la siguiente línea */
  letter-spacing: 0.1em;
}

.text02 {
  display: flex; 
  margin-top: 1em;
  flex-direction: column; /* Coloca los elementos uno debajo del otro */ 
  justify-content: center; /* Alinea verticalmente el contenido */
  align-items: flex-end; /* Alinea el contenido a la derecha */
  text-align: right; /* Alinea el texto a la derecha */
  height: 33.33vh;
  width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
  letter-spacing: 0.1em;
  color: rgb(0, 0, 0);
}
.text04{
  display: flex;
  margin-top: -5em;
  flex-direction: column; /* Coloca los elementos uno debajo del otro */
  justify-content: center; /* Alinea verticalmente el contenido */
  max-width: 33.33vw; /* Limita el ancho del texto a un tercio del ancho de la pantalla */
  word-wrap: break-word; /* Permite que las palabras se dividan y salten a la siguiente línea */
  letter-spacing: 0.1em;
}

.fixed-image{
  width: 600px; /* Cambia el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  position: relative; /* Posiciona la imagen de forma absoluta */
  top: 50px; /* Ajusta la posición vertical */
  bottom: 50px; /* Ajusta la posición vertical */
  left: 50px; /* Ajusta la posición horizontal */
  right: 0px;
}

.fixed-image-right{
  width: 700px; /* Cambia el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  position: relative; /* Posiciona la imagen de forma absoluta */
  top: -50px; /* Ajusta la posición vertical */
  bottom: 50px; /* Ajusta la posición vertical */
  left: 50px; /* Ajusta la posición horizontal */
  margin-right: 50px;
}

.fixed-image-right1{
  width: 400px; /* Cambia el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  position: relative; /* Posiciona la imagen de forma absoluta */
  top: -50px; /* Ajusta la posición vertical */
  bottom: 50px; /* Ajusta la posición vertical */
  left: 50px; /* Ajusta la posición horizontal */
  margin-right: 250px;
}
.fixed-image-left{
  width: 600px; /* Cambia el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  position: relative; /* Posiciona la imagen de forma absoluta */
  top: -50px; /* Ajusta la posición vertical */
  bottom: 50px; /* Ajusta la posición vertical */
  margin-left: 50px; /* Ajusta la posición horizontal */
  right: 50px;
}
.section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra toda la sección */
    z-index: 1; /* Asegura que el video esté detrás del contenido */
}

.section-content {
    position: relative;
    
    margin-top: 6rem;
    z-index: 2; /* Asegura que el contenido de la sección esté encima del video */
    padding: 60px 60px; /* Añade espacio para que el contenido no esté pegado al borde */
    padding-left: 100px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.item {
  background-color: rgba(8, 0, 250, 0);
  padding: 20px;
  text-align: center;
}

.video-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  font-size: 12px;
  text-align: left;
  z-index: 3; /* Asegura que el texto esté encima del video */
  max-width: 33.33vw; /* Limita el ancho del texto a un tercio del ancho de la pantalla */
  word-wrap: break-word; /* Permite que las palabras se dividan y salten a la siguiente línea */
}

.video-text h1 {
    font-size: 3em;
    margin: 0;
}

.video-text p {
    font-size: 1.5em;
    margin: 20px 0;
}

.video-text button {
    padding: 10px 20px;
    font-size: 2em;
    background-color: #9D9BFB;
    color: white;
    border: 1rem ;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.video-text button:hover {
    background-color: #6663ed;
}
 /* carousel */
 .carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-track-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Asegúrate de que el ancho del track sea 100% */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.section01, .section02 {
  display: grid; 
  align-items: center; /* Alinea los elementos en el centro verticalmente */
  min-height: 100vh;
  padding-top: 60px;
}

.section01 {
  grid-template-columns: 1fr auto; /* El primer elemento ocupará todo el espacio disponible, el segundo (imagen) será de tamaño automático */ 
  padding-left: 100px;
}

.section02 {
  grid-template-columns: auto 1fr; /* La imagen ocupará el espacio automático, el texto ocupará el resto */
  padding-right: 100px;
  padding-left: 20px;
  background-color: #CAC9F1;
}
.section03 {
  z-index: 10;
  background-color: #DDDDDD;
}
.fixed-image1 {
  width: 100%; /* La imagen ocupará todo el ancho de la pantalla */
  height: auto; /* Mantiene la proporción de la imagen */
  position: relative;
  margin-top: 1em;
  top: 0;
  left: 0;
  object-fit: cover; /* Asegura que la imagen cubra toda la sección */
  z-index: 1; /* Asegura que la imagen esté detrás del contenido */
}
.text03 {
  display: flex; 
  margin-top: 5em;
  flex-direction: column; /* Coloca los elementos uno debajo del otro */ 
  justify-content: center; /* Alinea verticalmente el contenido */
  text-align: center; /* Alinea el texto a la derecha */
  z-index: 10;
}
/* Estilo del formulario de contacto */
.contact-form {
  border: 1px solid white; /* Borde fino en blanco */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
}

.contact-form label {
  display: block;
  margin-bottom: 20px;
  color: white;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 60px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: white;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9D9BFB;
  color: white;
  cursor: pointer;
}

.contact-form button:hover {
  background-color:#6663ed;
}

.social-icons {
  display: flex;
  justify-content: flex-start; /* Alinea los iconos a la izquierda */
  gap: 10px; /* Espacio entre los iconos */
  margin-top: 10px;
}

.social-icons a img {
  width: 30px;
  height: 30px;
}