/* Colores principales */
:root {
  --color-primary: #31D9C8;
  --color-secondary: #CAC9F1;
  --color-background: #020441;
  --color-text: #f2f3ff;
  --color-dark: #020441;
  --color-noblack: #000118;
  --color-light: #CAC9F1;
}

/* Estilo para enlaces */
a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-secondary);
}

/* Botones */
button {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

button:hover {
  background-color: var(--color-secondary);
}

/* Encabezado */
header {
  color: var(--color-text);
}
nav {
  color: var(--color-light);
}

/* Pie de página */
footer {
  color: var(--color-light);
  border-top: 1px solid var(--color-primary);
}

/* Bordes de secciones */
/*
.section {
  border: 1px solid var(--color-primary);
}
*/