/* Ajustes generales */
main {
    margin-top: 80px; /* Ajusta según la altura del encabezado en pantallas grandes */
    padding: 60px;
  }
  
  /* Encabezado responsivo */
  @media (max-width: 992px) {
    header {
      flex-direction: column;
      margin-top: -20px;
      padding-top: 60px;
      padding-right: 60px;
      padding-bottom: 60px;
      padding-left: 20px;
      height: auto; /* Ajusta dinámicamente la altura */
      width: 100%; /* Asegura que el encabezado ocupe todo el ancho */
    }
    
  
    /* Ajuste dinámico del margen superior del contenido para evitar solapamiento */
    main {
      margin-top: 150px; /* Aumenta el margen superior para pantallas más pequeñas */
    }
  }
  
  @media (max-width: 768px) {
    header {
      margin-top: -20px;
      padding-top: 60px;
      padding-right: 60px;
      padding-bottom: 60px;
      padding-left: 20px;
      height: auto; /* Ajusta la altura dinámicamente */
    }
  
    /* Ajuste dinámico del margen superior del contenido para pantallas medianas */
    main {
      margin-top: 150px; /* Aumenta el margen superior para pantallas medianas */
    }
  }
  
  @media (max-width: 576px) {
    header {
      margin-top: -20px;
      padding-top: 60px;
      padding-right: 60px;
      padding-bottom: 60px;
      padding-left: 20px;
      height: auto; /* Ajusta dinámicamente la altura para cubrir el contenido */
    }
  
    /* Ajuste dinámico del margen superior del contenido para pantallas pequeñas */
    main {
      margin-top: 150px; /* Ajusta el margen para pantallas pequeñas */
    }
  }
  
  