/* Tipografía para títulos */
main {
  color: #000118;
}
.subtitle{
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 0px;
  color: #ffffff;
}
p {
  color: #ffffff;
  margin-bottom: 10px;
  letter-spacing: 0.2 em;
  line-height: 1.2;
}
.p1 {
  color:#000118;
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  letter-spacing: 0.1em;
}
.p2{
  margin-top: 30px;
}
.p3 {
  color:#000118;
}
h3, h4, h5, h6 {
    font-family: "Diphylleia", sans-serif;
    color: #d9ebe9;
    margin: 0;
}
a{
  margin-right: 10px;
  margin-right: 10px;
}
h1 {
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Diphylleia", sans-serif;
    font-size: 4rem;
    color: #ffffff;
   
}

h2 {
  font-family: "Diphylleia", sans-serif;
  font-size: 80px;
  color: #57b6ac;
  margin-bottom: 15px;
}
h3 {
  margin-left: -10px;
  margin-right: 40px;
  font-family: "Diphylleia", sans-serif;
  font-size: 4rem;
  color: #f2f3ff;
}
/* Tipografía para enlaces */
nav {
    margin-right: 40px;
    margin-left: 40px;
    font-family: "Diphylleia", sans-serif;
    font-size: 25px;
}

/* Tipografía de botones */
button {
    font-family: "Baskervville", serif;
}

/* Tipografía general */
body {
    font-family: "Baskervville", serif;
    font-size: 20px;
    color:#fafafa;
}

.baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .diphylleia-regular {
    font-family: 'Diphylleia', serif;
    font-weight: 400;
    font-style: normal;
  }


